.Header {
  color: #353233;
  font-size: 60px;
  font-family: Verdana;
  background-image: url("https://s-media-cache-ak0.pinimg.com/736x/78/88/3c/78883c2c8da913a0277728e01ad970a9.jpg");
  background-repeat: round;
  text-transform: uppercase;
}
.Toc {
  color:green;
  display: block;
  width: 75%;
  background-color: orange;
}
ul {
  list-style-type: none;
  margin: auto;
  padding: 10px;
  width: 40%;
  background-color: pink;
}
.Tocli a {
  display: block;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 150%;
  border: outset;
}
.Tocli a:hover {
  background-color: #555;
  color: white;
}
.obox {
  display:block;
  margin-left: auto;
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  width: 85%;
  border: 5px solid;
  border-radius: 35px;
  padding: 15px;
}
.Char {
  border-color: red;
  background-image: url("http://vignette1.wikia.nocookie.net/timanderic/images/8/85/Fiv%5C'r.JPG/revision/latest?cb=20081014150030");
  background-repeat: round;
}
.Prod {
  border-color: blue;
  background-image: url("http://vignette4.wikia.nocookie.net/timanderic/images/d/d3/Cincologos.png/revision/latest?cb=20080225054929");
  background-repeat: round;
}
.name {
  margin: auto;
  border-style: solid;
  border-color: black;
  background-color: red;
  text-align: center;
  font-size: 200%;
  border-radius: 15px;
}
.character{
  width: 55%;
  font-family: Verdana;
}
.product {
  width: 33%;
  font-family: Verdana;
}
.Desc {
  border: solid blue;
  background-color: white;
  width: 75%;
}
.Quote {
  border: solid red;
  background-color: white;
  width: 25%;
}
.Use {
  border: solid grey;
  background-color: white;
  width: 75%;
}
.ad{
  border: solid black;
  background-color: white;
  width: 25%;
  font-size: 130%;
  font-family: Arial;
}
.ad a:hover{
  background-color: #555;
  color: white;
}
img {
  display:block;
  margin:auto;
  height: 202px;
  width: 304px;
}
body {
  background-color: lightblue;
}
.Bon {
  color: white;
  background-color: black;
}